{% extends 'recetas/base.html' %}
{% load staticfiles %}


<body>
        {% block content %}
    <h2>Comida Premium</h2>


    <div class="flex-container">
        <div class="container">
            <h1>Creme brulee de puerros y mascarpone</h1>
            <img src="{%static 'img/creme.jpg'%}" alt="Avatar" class="image">

            <div class="w3-container">
                <button onclick="document.getElementById('id21').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id21" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id21').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Creme brulee de puerros y mascarpone</h1>
                            </header>
                            <Section>
                                <h3>Ingredientes</h3><br>
                                <p class="texto">4 tazas de puerros picados finamente</p>
                                <p class="texto">2/3 taza de cebolla picada</p>
                                <p class="texto">10 yemas</p>
                                <p class="texto">2 tazas de crema</p>
                                <p class="texto">100 gr. de queso mascarpone</p>
                                <p class="texto">Eneldo y estragón a gusto picados muy finos</p>
                                <p class="texto">Perejil a gusto picado fino</p>
                                <p class="texto">Aceite de oliva</p>
                                <p class="texto">Sal y pimienta</p>
                                <p class="texto">4 cdas. de azúcar rubia</p>
                                <p class="texto">4 cdas. de azúcar blanca</p>
                                <h3>Instrucciones</h3>
                                <p class="texto">Extender los azúcares sobre un silpat y luego llevar a horno bajo para tostar ligeramente. Retirar del calor, dejar enfriar y poner al interior de una bolsa para triturarlas con la ayuda de un uslero. Reservar.</p>
                                <p class="texto">Precalentar el horno y poner una bandeja con agua para formar un baño María.</p>
                                <p class="texto">En una sartén caliente, saltear los puerros y la cebolla en aceite de oliva hasta que estén suaves. </p>
                                <p class="texto">Batir las yemas, luego incluir la crema, la leche, las verduras salteadas, el queso, hierbas, sal y pimienta a gusto. Mezclar bien, verter en moldes pequeños y llevar al horno durante 30 a 40 minutos, o hasta notar que
                                    el centro haya cuajado.</p>
                                <p class="texto">Esparcir el azúcar en la superficie, gratinar con un soplete hasta que estén caramelizados y dorados. Servir calientes.</p>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>Medallones de bogavante</h1>
            <img src="{%static 'img/boga.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id22').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id22" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id22').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Medallones de bogavante</h1>
                            </header>
                            <Section>
                                <h3>Ingredientes</h3><br>
                                <p class="texto">1 bogavante grande cocido</p>
                                <p class="texto">3 laminas de salmón ahumado</p>
                                <p class="texto">3 huevos</p>
                                <p class="texto">6 hojas de gelatina (3 g. cada una)</p>
                                <p class="texto">1 manojo de espárragos blancos</p>
                                <p class="texto">Unas hojas de perejil</p>
                                <h3>Instrucciones</h3><br>
                                <p class="texto">Para preparar esta receta de medallones de bogavante, cocemos los huevos y los pelamos.</p>
                                <p class="texto">Hervimos los espárragos en 500 ml. de agua, tapando y evitando evaporar líquido. Los dejamos enfriar colocándolos encima de un colador para que pierdan el agua.</p>
                                <p class="texto">Preparamos la gelatina según las instrucciones del fabricante con el agua de la cocción del espárrago ligeramente sazonada. Es decir, ponemos a hidratar las hojas de gelatina en agua fría, las escurrimos y añadimos al agua
                                    del espárrago recién hervida. </p>
                                <p class="texto">Mientras la gelatina templa, pelamos el bogavante y lo cortamos en 8 medallones. Dentro de los 8 aros de emplatar pequeños sobre una bandeja plana , disponemos el huevo, y colocamos encima de cada uno un medallón de bogavante.
                                    Vertemos la gelatina sin llegar a cubrir el crustáceo y lo dejamos enfriar al menos 2 horas dentro de la nevera.</p>
                                <p class="texto">Por último, colocamos los medallones de bogavante en medio del plato y desmoldamos con ayuda de la punta de un cuchillo pequeño y afilado. Añadimos los espárragos y las lonchas de salmón ahumado picado. Servimos con un
                                    poco de perejil espolvoreado para darle color.</p>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <h1>Codorniz escabechada</h1>
            <img src="{%static 'img/codo.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id23').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id23" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id23').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Codorniz escabechada</h1>
                            </header>
                            <Section>
                                <h3>Ingredientes</h3><br>
                                <p class="texto">4 codornices</p>
                                <p class="texto">1 cebolla</p>
                                <p class="texto">2 zanahorias</p>
                                <p class="texto">3 dientes de ajo</p>
                                <p class="texto">100 ml. de vino blanco</p>
                                <p class="texto">100 ml. de vinagre de jerez</p>
                                <p class="texto">100 ml. de aceite de oliva</p>
                                <p class="texto">12 granos de pimienta negra</p>
                                <p class="texto">1 ramillete de tomillo</p>
                                <p class="texto">2 hojas de laurel</p>
                                <p class="texto">Agua</p>
                                <p class="texto">Sal</p>
                                <h3>Instrucciones</h3><br>
                                <p class="texto">Para elaborar esta receta de codorniz escabechada, primero repasamos las codornices, de posibles plumas, las atamos con cuerda de cocina y reservamos.</p>
                                <p class="texto">En una sartén ponemos a fuego medio con una gota de aceite, doramos las codornices previamente salpimentadas, las retiramos y reservamos.</p>
                                <p class="texto">Incorporamos en la misma sartén las cebollas y las zanahorias, lo rehogamos todo junto y añadimos el ajo.</p>
                                <p class="texto">Seguido, le añadimos el tomillo, el laurel, las bolas de pimienta y el vinagre de sidra y el vino blanco.</p>
                                <p class="texto">Dejamos hervir 15 minutos, incorporamos las codornices, añadimos agua y hasta cubrir.</p>
                                <p>Lo dejamos hervir a fuego suave durante 15 minutos y seguido metemos las codornices, dejando hervir todo a fuego lento durante 40 minutos aproximadamente. Sabemos que están cocidas cuando esté blando el muslo.</p>
                                <p>Reservamos en su propio jugo, esta receta de codornices escabechadas se pueden servir frías o calientes.</p>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="flex-container">
        <div class="container">
            <h1>Silla de cordero</h1>
            <img src="{%static 'img/corder.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id24').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id24" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id24').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Silla de cordero</h1>
                            </header>
                            <Section>
                                <h3>Ingredientes</h3><br>
                                <p class="texto">600 g. de silla de cordero deshuesada</p>
                                <p class="texto">50 g. de dátiles</p>
                                <p class="texto">3 cucharadas de mostaza en grano</p>
                                <p class="texto">1 boniato</p>
                                <p class="texto">70 g. de puerro picado</p>
                                <p class="texto">1 cabeza de ajo</p>
                                <p class="texto">1 cucharada de crema líquida </p>
                                <p class="texto">Albahaca mini</p>
                                <p class="texto">Aceite de oliva</p>
                                <p class="texto">Sal</p>
                                <p class="texto">Pimienta</p>
                                <h3>Instrucciones</h3><br>
                                <p class="texto">Para preparar esta receta de silla de cordero rellena de dátiles, primero picamos los dátiles deshuesados y los mezclamos con la mostaza, salpimentamos la silla de cordero y rellenamos con la mezcla de dátil y mostaza,
                                    atamos con hilo de bridar y lo horneamos junto con la cabeza de ajo abierta a la mitad durante 25 minutos a 180ºC.</p>
                                <p class="texto">Mientras, pelamos el boniato y lo troceamos, pochamos el puerro, añadimos el boniato y tapamos, cocinamos a fuego muy bajo durante 15 minutos, trituramos, ponemos a punto de sal y reservamos.</p>
                                <p class="texto">Sacamos la carne de la cabeza de ajos, machacamos con un tenedor y mezclamos con una cucharada de nata líquida, damos forma de cilindro y cortamos en medallones de ½ cm.</p>
                                <p class="texto">Cortamos la silla de cordero en medallones de 3cm. de grosor, colocamos el puré de boniato y encima la carne rellena. Acompañamos del mazapán de ajo y unas hojas de albahaca mini.</p>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>Proximamente</h1>
            <img src="{%static 'img/prox.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id05').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id05" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Fuera aqui no hay nada UWU</h1>
                            </header>
                            <Section>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>Proximamente</h1>
            <img src="{%static 'img/prox.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id05').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id05" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Fuera aqui no hay nada UWU</h1>
                            </header>
                            <Section>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    {% endblock %} 
</body>