{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comunidad</title>

    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="row">
        <div class="nav-bar">
            <ul class="nav">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="premium.html">Premium</a></li>
                <li><a href="Comunidad.html">Comunidad</a></li>
                <li><a href="registrar.html">Login</a></li>
                <li><a href="https://www.youtube.com/watch?v=2Sze3sf9tm8" target="_blank">Ir a youtube</a> </li>
                <li><a href="">Recetas</a>
                    <ul>
                        <li><a href="vegetariana.html">Comida Vegetariana</a></li>
                        <li><a href="italiana.html">Comida Italiana</a></li>
                        <li><a href="chilena.html">Comida Chilena</a></li>
                        <li><a href="francesa.html">Comida Francesa</a></li>
                        <li><a href="comPremium.html">Comida Premium</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><br>
    <header>
        <h1>Comunidad</h1>
    </header>
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>¿Somos grandes consumidores de comida chatarra?</h2>
                <div><img class="imgsubi" src="{%static 'img/labomba.png'%}" alt="error"><br></div>
                <p>Para Reflexionar</p><br>
                <p>La comida rápida es una de las preferencias para muchos a la hora de comer. Su precio accesible y su fácil obtención son propiedades que la caracterizan. Cadenas nacionales, como internacionales, ofrecen actualmente este tipo de comida.
                    Además, se la puede encontrar en las afueras de las instituciones educativas donde niños y jóvenes acuden en su búsqueda.</p>
                <p>Puestos de hamburguesas, papas fritas y hot dogs en las calles y paradas de buses se suman a la oferta que influye que esta comida sea de gran consumo, según Will Waters, sociólogo y co-director del Instituto de Investigación en Salud
                    y Nutrición de la USFQ. Además, se la puede encontrar en cualquier momento del día, lo que la hace más solicitada ya que el horario de universidad o trabajo impide que las personas puedan tener un tiempo fijo destinado a la comida.</p>
            </div>

        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>Colaboradores y Creadores</h2>
                <div><img class="imgsubi" src="{%static 'img/Bastian.jpg'%}" alt="error"><br></div>
                <div><img class="imgsubi" src="{%static 'img/joako.jpg'%}" alt="error"><br></div>
                <p>Bastian Moscoso</p>
                <p>Joaquin Bernal</p>
            </div>
            <div class="card">
                <h3>Recetas de la comunidad</h3>
                <div><img class="imgsubi" src="{%static 'img/FideosConSalsa.jpg'%}" alt="error"><br></div>
                <div><img class="imgsubi" src="{%static 'img/TomateRelleno.jpg'%}" alt="error"><br></div>
                <div><img class="imgsubi" src="{%static 'img/Asado.jpg'%}" alt="error"><br></div>
            </div>
            <div class="card">
                <h4>Envianos tus comentarios.Son muy importantes para nosotros.</h4>
                <textarea rows="4" cols="50">
        </textarea>
                <button>Enviar</button>
            </div>
        </div>
    </div>

    <button class="AbrirBoton" onclick="openForm()">Chat</button>

    <div class="popup" id="myForm">
        <form action="/action_page.php" class="form-container">
            <h1>Chat</h1>

            <label><b>Mensaje</b></label>
            <textarea placeholder="Mensaje.." name="msg" required></textarea>

            <button type="submit" class="btn">Enviar</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Cerrar</button>
        </form>
    </div>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>


    <h2>Tabla del soporte</h2>
    <p>Estamos apenas comenzando nuestra trayectoria como host de esta pagina web asi que de ver cualquier error en la pagina por favor contactar con algunos de los correos de abajo.</p>

    <br>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td>Bastian</td>
                <td>Moscoso</td>
                <td>Bas.Moscoso@alumnos.duoc.cl</td>
            </tr>
            <tr>
                <td>Joaquin</td>
                <td>Bernal</td>
                <td>Joa.bernal@alumnos.duoc.cl</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@alumnos.duoc.cl</td>
            </tr>
            <tr>
                <td>Anja</td>
                <td>Ravendale</td>
                <td>anja@alumnos.duoc.cl</td>
            </tr>
        </tbody>
    </table>





    <div class="row center-lg">
        <div class="col-xs-12">
            <footer>Una pagina de OxiCompany.</footer>
        </div>
    </div>

</body>

</html>