{% extends 'recetas/base.html' %}
{% load staticfiles %}


<body>
        {% block content %}

    <h2>Comida Francesa</h2>


    <div class="flex-container">
        <div class="container">
            <h1>Gougères</h1>
            <img src="{%static 'img/gougeres.jpg'%}" alt="Avatar" class="image">

            <div class="w3-container">
                <button onclick="document.getElementById('id17').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id17" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id17').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Gougères</h1>
                            </header>
                            <Section>
                                <h3>Ingredientes</h3><br>
                                <p class="texto">150 Gramos de harina de Trigo</p>
                                <p class="texto">150 gramos de queso emmental</p>
                                <p class="texto">125 mililitros de leche entera</p>
                                <p class="texto">125 mililitros de agua</p>
                                <p class="texto">100 gramos de mantequilla</p>
                                <p class="texto">5 huevos medianos</p>
                                <p class="texto">Nuez moscada</p>
                                <p class="texto">Pimienta negra molida</p>
                                <p class="texto">Azúcar</p>
                                <p class="texto">Sal</p>
                                <h3>Instrucciones</h3>
                                <p class="texto">Prepara la pasta choux mezclando en una cazuela los 125 mililitros de agua, los 125 mililitros de leche, los 100 gramos de mantequilla, un poco de sal y una pizca de azúcar.</p>
                                <p class="texto">Pon la mezcla a calentar a fuego medio removiendo cada poco tiempo con una cuchara de palo.</p>
                                <p class="texto">Tamiza los 150 gramos de harina de trigo pasándola por un colador de malla de red y, cuando la mezcla rompa a hervir, agrégala de golpe. Revuelve durante 1 minuto hasta que la mezcla adquiera una textura homogénea y se
                                    haya despegado de las paredes.</p>
                                <p class="texto">Retira la pasta choux del fuego y viértela en un recipiente limpio. Déjala reposar durante 5 minutos hasta que se atempere y luego incorpora 4 huevos de 1 en 1 y removiendo hasta que se integren antes de echar el siguiente.</p>
                                <p class="texto">Ralla los 150 gramos de queso emmental con un rallador grueso e incorpora a la masa junto a un poco de nuez moscada y pimienta negra molida. Remueve para que todos los ingredientes se mezclen.</p>
                                <p class="texto">Mete la masa en una manga de cocina de boquilla lisa y comienza a hacer pequeñas bolas sobre una bandeja de horno forrada con papel de hornear. Ten cuidado de dejar suficiente espacio entre un gougère y otro para que no
                                    se junten a la hora de hornearse.</p>
                                <p class="texto">Pon a calentar el horno a 200ºC con calor arriba y abajo y, mientras tanto, pinta cada gougère con huevo batido.</p>
                                <p class="texto">Mete los gougères en el horno durante 20 minutos. Una vez pasado ese tiempo, deja la puerta del horno entreabierta durante unos minutos para que no haya un cambio brusco de temperatura y la masa se baje.</p>
                                <p class="texto">Sirve fríos o templados acompañados de alguna salsa</p>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>Milhojas de chocolate</h1>
            <img src="{%static 'img/milhojasjpg.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id18').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id18" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id18').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Milhojas de chocolate</h1>
                            </header>
                            <Section>
                                <h3>Ingredientes</h3><br>
                                <p class="texto">150 Gramos de harina de Trigo</p>
                                <p class="texto">1020 gramos de harina de trigo</p>
                                <p class="texto"> 500 gramos de mantequilla</p>
                                <p class="texto">250 gramos de chocolate en tableta</p>
                                <p class="texto">400 mililitros de leche semidescremada</p>
                                <p class="texto">2 huevos</p>
                                <p class="texto">Agua fría</p>
                                <p class="texto">Azúcar flor</p>
                                <p class="texto">1 pizca de sal</p>
                                <h3>Instrucciones</h3><br>
                                <p class="texto">En una superficie plana esparce la harina formando una montaña, haz un agujero en el centro y añade 3/4 de la mantequilla y un poco de sal. Mezcla los ingredientes con las manos.</p>
                                <p class="texto">Añade 1 vaso y medio de agua fría y continúa amasando.</p>
                                <p class="texto">Haz una bola con la masa y con un cuchillo haz una cruz de lado a lado en la parte de arriba.</p>
                                <p class="texto">Abre la masa por los cuatro cortes y coloca en el medio el resto de la mantequilla. Vuelve a cerrar la masa doblando los picos hacia dentro y dejando la mantequilla en el interior.</p>
                                <p class="texto">Extiéndela con un rodillo, dóblala formando 3 pliegues y métela en el refrigerador durante 1 hora.</p>
                                <p class="texto">Saca la masa de la nevera y, sin desdoblarla, vuelve a extenderla con el rodillo. Dóblala en otros 3 pliegues y métela otra hora en el refrigerador.</p>
                                <p class="texto">Saca la masa y extiéndela por última vez. Luego córtala en rectángulos iguales y ponlos en fila en una bandeja y mételos en el horno durante 20 minutos a 200º.</p>
                                <p class="texto">Calienta la leche en una olla y empieza a derretir el chocolate en ella sin dejar de remover.</p>
                                <p class="texto">Para montar la tarta milhojas, pon una primera hoja de hojaldre y úntala con la crema de chocolate. Luego, coloca otra capa de masa encima y repite el proceso hasta terminar. Cubre la parte superior con un poco de crema
                                    y espolvorea azúcar flor.</p>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <h1>Bisque de marisco</h1>
            <img src="{%static 'img/bisque.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id19').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id19" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id19').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Bisque de marisco</h1>
                            </header>
                            <Section>
                                <h3>Ingredientes</h3><br>
                                <p class="texto">12 langostinos</p>
                                <p class="texto">4 gambas carabineros</p>
                                <p class="texto">100 gramos de zanahorias</p>
                                <p class="texto">50 gramos de apio</p>
                                <p class="texto">10 gramos de arroz</p>
                                <p class="texto">1 cebolla</p>
                                <p class="texto">2 dientes de ajos</p>
                                <p class="texto">1 tomate</p>
                                <p class="texto">1 yema de huevo</p>
                                <p class="texto">4 cucharadas de crema líquida</p>
                                <p class="texto">2 vasos de vino blanco</p>
                                <p class="texto">1 vaso de brandy</p>
                                <p class="texto">3 gotas de tabasco</p>
                                <p class="texto">Aceite de oliva</p>
                                <p class="texto">Sal</p>
                                <p class="texto">Pimienta negra</p>
                                <p class="texto">Estragón</p>
                                <h3>Instrucciones</h3><br>
                                <p class="texto">Pela los langostinos y las gambas y cuece sus cáscaras.</p>
                                <p class="texto">Sofríe la cebolla, la zanahoria y el ajo. Cuando estén pochados añade el arroz y el estragón.</p>
                                <p class="texto">Añade el tomate, el brandy, el vino blanco y el caldo resultante del paso 1. Vierte también un poco de apio.</p>
                                <p class="texto">Tritura la mezcla y cuélala. Después, añade la crema líquida, el tabasco y la yema de huevo. Cocina sin que llegue a hervir..</p>
                                <p class="texto">Emplata en tazas soperas y adorna con los langostinos y las gambas.</p>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="flex-container">
        <div class="container">
            <h1>Calissons</h1>
            <img src="{%static 'img/calissons.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id20').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id20" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id20').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Calissons</h1>
                            </header>
                            <Section>
                                <h3>Ingredientes</h3><br>
                                <p class="texto">250 gramos de almendras entera o molida</p>
                                <p class="texto">400 gramos de azúcar flor o 400 gramos de azúcar granulada</p>
                                <p class="texto">100 gramos de mermelada de damasco</p>
                                <p class="texto">100 gramos de mermelada de naranja</p>
                                <p class="texto">1 huevo</p>
                                <p class="texto">Esencia de vainilla</p>
                                <h3>Instrucciones</h3><br>
                                <p class="texto">Llevar a tostar las rodajas de pan con un toque de oliva y pimienta por ambos lados.</p>
                                <p class="texto">Cortar los tomates perita a lo largo por el medio, quitar toda la pulpa. Llevar a una placa con un poco de oliva, sal y pimienta recién molida.</p>
                                <p class="texto">Abrir e incorporar los huevos dentro de los tomates, condimentar con sal y pimienta. Espolvorear con ciboulette picada.</p>
                                <p class="texto">Llevar a horno fuerte por 7/8 minutos.</p>
                                <p class="texto">Servir los tomates sobre las tostadas.</p>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>Proximamente</h1>
            <img src="{%static 'img/prox.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id05').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id05" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Fuera aqui no hay nada UWU</h1>
                            </header>
                            <Section>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>Proximamente</h1>
            <img src="{%static 'img/prox.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id05').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id05" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Fuera aqui no hay nada UWU</h1>
                            </header>
                            <Section>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    {% endblock %}  
</body>