{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>OxiRecetas - Registrar </title>
</head>

<body>
    <div class="row">
        <div class="nav-bar">
            <ul class="nav">
                <li><a href="index.html">Inicio</a></li>
                <li><a href="premium.html">Premium</a></li>
                <li><a href="Comunidad.html">Comunidad</a></li>
                <li><a href="registrar.html">Login</a></li>
                <li><a href="https://www.youtube.com/watch?v=2Sze3sf9tm8" target="_blank">Ir a youtube</a> </li>
                <li><a href="">Recetas</a>
                    <ul>
                        <li><a href="vegetariana.html">Comida Vegetariana</a></li>
                        <li><a href="italiana.html">Comida Italiana</a></li>
                        <li><a href="chilena.html">Comida Chilena</a></li>
                        <li><a href="francesa.html">Comida Francesa</a></li>
                        <li><a href="comPremium.html">Comida Premium</a></li>
                    </ul>
                </li>
                <li><img src="{% static 'img/logo1.png'%}" id="logo" alt="ERROR"></li>

            </ul>

        </div>

    </div><br>
    <form action="/action_page.php">
        <div class="containerReg">
            <h1>Registro de Usuario</h1>
            <p>Por favor, llenar los campos para crear cuenta.</p>
            <hr>

            <label><b>Nombre</b></label>
            <input type="text" placeholder="Ingrese su Nombre Completo" minlength="10" name="name">

            <label><b>Numero</b></label>
            <input type="text" placeholder="Ingrese su Número de Telefono" minlength="10" name="numero">

            <label><b>Correo Electronico</b></label>
            <input type="text" placeholder="Ingrese Correo Electronico" minlength="10" name="email" required>

            <label><b>Contraseña</b></label>
            <input type="password" placeholder="Ingrese Contraseña" name="psw" required>

            <label><b>Confirme Contraseña</b></label>
            <input type="password" placeholder="Confirme Contraseña" name="psw-repeat" required>
            <hr>
            <p>Al crear una cuenta usted acepta <a href="#">Términos y Condiciones</a>.</p>

            <button type="submit" class="registerbtn">Registrar</button>
        </div>

        <div class="containerReg signin">
            <p>¿Ya tiene una cuenta? <a id="iniciarSesion" href="#">Iniciar Sesión</a>.</p>
        </div>
    </form>

</body>

</html>