{% extends 'recetas/base.html' %}
{% load staticfiles %}


<body>
        {% block content %}
    <form action="/action_page.php">
        <div class="containerReg">
            <h1>Registro de Usuario</h1>
            <p>Por favor, llenar los campos para crear cuenta.</p>
            <hr>

            <label><b>Nombre</b></label>
            <input type="text" placeholder="Ingrese su Nombre Completo" minlength="10" name="name">

            <label><b>Numero</b></label>
            <input type="text" placeholder="Ingrese su Número de Telefono" minlength="10" name="numero">

            <label><b>Correo Electronico</b></label>
            <input type="text" placeholder="Ingrese Correo Electronico" minlength="10" name="email" required>

            <label><b>Contraseña</b></label>
            <input type="password" placeholder="Ingrese Contraseña" name="psw" required>

            <label><b>Confirme Contraseña</b></label>
            <input type="password" placeholder="Confirme Contraseña" name="psw-repeat" required>
            <hr>
            <p>Al crear una cuenta usted acepta <a href="#">Términos y Condiciones</a>.</p>

            <button type="submit" class="registerbtn">Registrar</button>
        </div>

        <div class="containerReg signin">
            <p>¿Ya tiene una cuenta? <a id="iniciarSesion" href="#">Iniciar Sesión</a>.</p>
        </div>
    </form>
    {% endblock %} 
</body>

</html>