{% extends 'recetas/base.html' %}
{% load staticfiles %}



  

<body>
        {% block content %}
        <h2>Comida Vegetariana</h2>
    <div class="flex-container">
        <div class="container">
            <h1>Pasta Roll Rellena de Espinaca y Ricota</h1>
            <img src="{%static 'img/pastaroll.jpg'%}" alt="Avatar" class="image">

            <div class="w3-container">
                <button onclick="document.getElementById('id09').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id09" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id09').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Pasta Roll Rellena de Espinaca y Ricota</h1>
                            </header>
                            <Section>
                                <h3>Ingredientes</h3><br>
                                <p class="texto">2 Cebollas moradas</p>
                                <p class="texto">6 Champiñones</p>
                                <p class="texto">3 Ajos</p>
                                <p class="texto">3 Cebollines</p>
                                <p class="texto">2 latas de lentejas</p>
                                <p class="texto">4 cdas de Pan rallado</p>
                                <p class="texto">1 huevo</p>
                                <p class="texto">Ají molido</p>
                                <p class="texto">1 atado de Perejil</p>
                                <p class="texto">Pimentón</p>
                                <p class="texto">Comino</p>
                                <p class="texto">1 paquete de queso danbo laminado</p>
                                <p class="texto">2 Paltas</p>
                                <p class="texto">3 Limas</p>
                                <p class="texto">2 Morrones rojo</p>
                                <p class="texto">1 atado de cilantro</p>
                                <p class="texto">1 Cebolla</p>
                                <p class="texto">2 ajíes jalapeño</p>
                                <p class="texto">Queso crema</p>
                                <p class="texto">Pan de hamburguesa</p>
                                <p class="texto">Batata (para acompañamiento frito)</p>
                                <h3>Instrucciones</h3>
                                <p class="texto">-Cocinar la pasta al dente según las instrucciones del paquete. Reservar.</p>
                                <p class="texto">-En sartén con un poco de oliva rehogar los ajos, incorporar las espinacas picadas y cocinar por 2 minutos hasta que resulten blandas. Retirar del fuego y pasar a un bowl.</p>
                                <p class="texto">-Unir lo del bowl con la ricota, la mozzarella, el parmesano el huevo, las nueces y la albahaca picada. Condimentar.</p>
                                <p class="texto">-Bañar la superficie de una sartén apta para horno con la mitad de la salsa de tomate, rellenar generosamente los las láminas de pasta, enrollarlos y llevarlos sobre la salsa. Terminar con más salsa y mas mozzarella rallada.</p>
                                <p class="texto">-Tapar con aluminio y llevar a horno precalentado en 180° por unos 25 minutos. Retirar el papel aluminio y terminar gratinando los quesos unos 10 minutos mas.</p>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>Hamburguesa de Lentejas</h1>
            <img src="{%static 'img/hamlen.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id10').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id10" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id10').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Hamburguesa de Lentejas</h1>
                            </header>
                            <Section>
                                <h3>Ingredientes</h3><br>
                                <p class="texto">8 láminas de lasaña grande</p>
                                <p class="texto">4 tazas de espinaca fresca picada</p>
                                <p class="texto"> 2 ajos picados</p>
                                <p class="texto">350 gramos de ricota</p>
                                <p class="texto">1 taza de mozzarella rallada</p>
                                <p class="texto">80 gramos de nueces picadas</p>
                                <p class="texto">½ taza de parmesano rallado</p>
                                <p class="texto">1 huevo</p>
                                <p class="texto">2 cdas. de albahaca picada</p>
                                <p class="texto">Sal, pimienta y oliva</p>
                                <p class="texto">2 tazas de salsa de tomate espesa</p>
                                <h3>Instrucciones</h3><br>
                                <p class="texto">-Saltear en un poco de oliva: cebolla morada, champis, ajo y verdeo condimentando con sal y pimienta hasta que ablande. Dejar enfriar.</p>
                                <p class="texto">-Procesar las lentejas ya cocidas y en un bowl unir con 3/4 sal salteado de vegetales y condimentar con ajo molido, comino, pimentón y perejil</p>
                                <p class="texto">-Darle forma a la hamburguesa y llevar a dorar a una sartén bien caliente. Al darla vuelta agregar el queso por arriba.</p>
                                <p class="texto">-Armar la hamburguesa con: Pan untado con salsa roja, hamburguesa, palta (con jugo de lima y cilantro), 1/4 restante del salteado y el otro pan untado con mas salsa.</p>
                                <p class="texto">-Para la Salsa roja:</p>
                                <p class="texto">-Quemar en una grilla las cebollas, los morrones y los chiles.</p>
                                <p class="texto">-Llevar a una procesadora con un poco de oliva, sal y pimienta.</p>
                                <p class="texto">-Mezclar con queso crema para formar una consistencia cremosa.</p>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <h1>Lasaña de Verduras</h1>
            <img src="{%static 'img/lasagna.png'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id11').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id11" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id11').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Lasaña de Verduras</h1>
                            </header>
                            <Section>
                                <h3>Ingredientes</h3><br>
                                <p class="texto">3 berenjenas cortadas a lo largo</p>
                                <p class="texto">3 zucchini cortadas a lo largo</p>
                                <p class="texto">1 cebolla picada</p>
                                <p class="texto">1 lt. de tomate triturado</p>
                                <p class="texto">3 ajos picados</p>
                                <p class="texto">1 ½ taza ricota</p>
                                <p class="texto">¼ de queso parmesano</p>
                                <p class="texto">3 tazas de mozzarella rallada</p>
                                <p class="texto">2 cdas. de albahaca picada</p>
                                <p class="texto">1 huevo grande</p>
                                <p class="texto">Sal, pimienta y oliva</p>
                                <h3>Instrucciones</h3><br>
                                <p class="texto">En una sartén con un toque de oliva rehogar la cebolla y el ajo hasta trasparentar. Agregar la salsa de tomate triturado, condimentar bien, agregar la albahaca picada y cocinar por 30 minutos.</p>
                                <p class="texto">Grillar los vegetales con un toque de oliva por 2 o 3 minutos por lado. Retirar sobre papel absorbente para eliminar el exceso de humedad.</p>
                                <p class="texto">En un bowl mezclar la ricota con el parmesano y el huevo hasta lograr una preparacion homogenea.</p>
                                <p class="texto">En placa alta ir intercalando salsa, vegetales grillados, la mezcla de ricota y mozzarella hasta agotar los ingredientes (reservar un poco de mozzarella para más adelante).</p>
                                <p class="texto">Tapar con papel aluminio y cocinar en horno a 180ª precalentado por 30 minutos. Pasado ese tiempo quitar el papel aluminio y cocinar 20 minutos más.</p>
                                <p class="texto">Luego colocar mozzarella sobre la superficie y llevar 5 minutos hasta gratinar.</p>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="flex-container">
        <div class="container">
            <h1>Tomates Rellenos con Huevo</h1>
            <img src="{%static 'img/tomrel.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id12').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id12" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id12').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Tomates Rellenos con Huevo</h1>
                            </header>
                            <Section>
                                <h3>Ingredientes</h3><br>
                                <p class="texto">3 tomates</p>
                                <p class="texto">6 huevos frescos chicos</p>
                                <p class="texto">2 cdas. de ciboulette picada</p>
                                <p class="texto">3 rodajas de pan de campo</p>
                                <p class="texto">Sal, pimienta y oliva</p>
                                <h3>Instrucciones</h3><br>
                                <p class="texto">Llevar a tostar las rodajas de pan con un toque de oliva y pimienta por ambos lados.</p>
                                <p class="texto">Cortar los tomates perita a lo largo por el medio, quitar toda la pulpa. Llevar a una placa con un poco de oliva, sal y pimienta recién molida.</p>
                                <p class="texto">Abrir e incorporar los huevos dentro de los tomates, condimentar con sal y pimienta. Espolvorear con ciboulette picada.</p>
                                <p class="texto">Llevar a horno fuerte por 7/8 minutos.</p>
                                <p class="texto">Servir los tomates sobre las tostadas.</p>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>Proximamente</h1>
            <img src="{%static 'img/prox.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id05').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id05" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Fuera aqui no hay nada UWU</h1>
                            </header>
                            <Section>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h1>Proximamente</h1>
            <img src="{%static 'img/prox.jpg'%}" alt="Avatar" class="image">
            <div class="w3-container">
                <button onclick="document.getElementById('id05').style.display='block'" class="w3-button w3-black">Ver más</button>
                <div id="id05" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id05').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <header>
                                <h1>Fuera aqui no hay nada UWU</h1>
                            </header>
                            <Section>
                            </Section>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    {% endblock %} 
</body>